<div  class = " row mt-5 ">
  <div  class = " col-md-6 m-auto ">
    <div  class = " card card-body text-center ">
      <h1> <i  class = " fab fa-nœud-js fa-3x " > </i> </h1>
      <p> Créez un compte ou connectez-vous </p>
      <a  href = "/users/register "  class = " btn btn-primaire btn-block mb-2 "> S'inscrire </a>
      <A  href = "/users/login "  class = " BTN BTN-bloc BTN-secondaire "> Connexion </a>
    </div>
  </div>
</div>